<div class="row">
  <div class="col-xs-12 col-sm-4">

    <%= text_field_tag :station, nil, autocomplete: "off", placeholder: "search" %>
    <ul id="results"></ul>

  </div>

  <div class="col-xs-6 col-sm-6">

  </div>
</div>

<!-- 
<table class="table table-striped">
  <% @trains.each do |train| %>
    <% train.stations.each do |station| %>

    <tr>
      <td><%= station.name %></td>
      <td><%= train.name %></td>
    </tr>

    <% end %>
  <% end %>
</table> -->
