@import "http://fonts.googleapis.com/css?family=Bitter:400,700";

body {
  font-family: 'Bitter', sans-serif;
}

// helper
.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m-b-sm {
  margin-bottom: 10px !important;
}
.m-b-md {
  margin-bottom: 30px !important;
}

// canvas
canvas {
  position: absolute;
  z-index: -999;
}

// navbar
.header {
  margin: 40px 0;
  display: block;
}
.header .logo {
  font-weight: bold;
  font-size: 50px;
}
@media(max-width:767px){
  .header .logo {
    text-align: center;
  }
}

// results
#station {
  height: 30px;
  width: 100%;
  border: 3px solid #a9ada8;
  padding: 0 12px 0 15px;
  font-size: 18px;
  line-height: 26px;
  vertical-align: middle;
  border-radius: 18px;
  margin-bottom: 20px;
  color: #414240;
}
#station:focus, #station:active {
  outline: none;
}
#station.loading {
  background: #fff image-url("loading.gif") 210px 4px no-repeat;
}
#results {
  margin-bottom: 36px;
  font-size: 20px;
  line-height: 29px;
  white-space: nowrap;
  // min-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
ul#results {
  padding: 0px;
  list-style: none;
}
#results li {
  padding: 2px 0;
  border-radius: 3px;
  overflow: hidden;
  color: #2870b0;
}
#results li:hover > a {
  color: #fff;
  border-radius: 3px;
  background: #2870b0;
  text-shadow: rgba(0,0,0,0.125) 0 1px 3px;
}
#results li:first-child {
  background: #2870b0;
  text-shadow: rgba(0,0,0,0.125) 0 1px 3px;
}
#results li a {
  position: relative;
  width: 100%;
  height: 32px;
  border-radius: 2px;
  cursor: pointer;
  padding: 2px 10px 2px 20px;
  vertical-align: bottom;
  display: inline-block;
}
#results li a:hover, #results li a:focus {
  text-decoration: none;
}
#results li:first-child > a {
  color: #fff !important;
}

// train info // right content
.station-title {
  margin: 0px;
  padding: 0px;
}
.line {
  padding: 9px;
  background: steelblue;
  border-radius: 50px;
  color: #fff;
  width: 36px;
  display: inline-block;
  height: 36px;
  text-align: center;
  margin-right: 2px;
  cursor: pointer;
}
.line:hover, .line.active {
  background: #fff;
  border: 2px solid steelblue;
  color: steelblue;
  padding: 7px;
}
.line-big {
  padding: 30px 0;
  margin-bottom: 15px;
  border-radius: 60px;
  height: initial;
  width: 110px;
  font-size: 36px;
}
.line-big:hover, .line-big:active {
  padding: 28px 0;
}
.train-time {
  margin-top: 25px;
  padding-top: 0px;
  border-top: 3px solid rgba(0,0,0,0.04);
}